---
import Layout from "$lib/layouts/Layout.astro";
import HeroSection from "$lib/components/HeroSection.astro";
import ServiceSection from "$lib/components/ServiceSection.astro";
import CounterSection from "$lib/components/CounterSection.astro";
import AboutUsSection from "$lib/components/AboutUsSection.astro";
import IndustriesSection from "$lib/components/IndustriesSection.astro";
import BenefitsSection from "$lib/components/BenefitsSection.astro";
import CTASection from "$lib/components/CTASection.astro";
import TestimonialsSection from "$lib/components/TestimonialsSection.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import TechSection from "$lib/components/TechSection.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main class="main-content">
		<HeroSection />
		<ServiceSection />
		<CounterSection />
		<AboutUsSection />
		<BenefitsSection />
		<IndustriesSection />
		<TechSection />
		<TestimonialsSection />
		<CTASection />
	</main>
</Layout>
