---

import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { render, getCollection, getEntry } from "astro:content";





const policy = await getEntry("policy", "privacy-policy");
// Render the content of the policy
let Content= null; // Ensure Content is properly typed
if (policy) {
    // Render the content only if the policy exists
    (
        { Content } = await render(policy))
    ;
}
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content">
        <section class="pt-32  section">
            <div class="container">
                <div class="relative text-center mb-10 max-w-[948px] mx-auto aos-init aos-animate">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Policies</Badge
                    >
                    <SectionTitle class="" text="Privacy" primaryColorText="Policy"/>

                </div>
            </div>
        </section>

        <section class="py-32 relative content-section">
            <div class="container relative z-10">
                {Content ? (
                    <Content />
                ) : (
                    <p>Sorry, the privacy policy could not be found.</p>
                )}
            </div>
        </section>
    </main>
</Layout>
