---
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
import CircleUserRound from "lucide-svelte/icons/circle-user-round";
const casestudies = await getCollection("casestudies");
import CaseStudyCarousel from "$lib/components/common/CaseStudyCarousel.svelte";
---

<section class="section py-10 md:py-40 lighter-bg">
  <div class="container">
    <div class="text-center flex max-w-3xl flex-col items-center md:items-start justify-center">
      <Badge
        class="border border-[#737373] rounded-full text-[#737373] mb-4 ring-gray-300 uppercase"
        variant="outline"
        ><CircleUserRound class="mr-1 w-[16px]" />Case Studies</Badge
      >
      <SectionTitle
        class="w-4/5 lg:w-full text-left"
        text="See How We've "
        primaryColorText="Made a Difference"
      />
    </div>

    <div class="relative overflow-x-clip">
    	<CaseStudyCarousel client:load {casestudies} />
    </div>
  </div>
</section>
