---
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
import CircleUserRound from "lucide-svelte/icons/circle-user-round";
const casestudies = await getCollection("casestudies");
import CaseStudyCarousel from "$lib/components/common/CaseStudyCarousel.svelte";
---

<section class="section py-20">
	<div class="container">
		<div class="flex items-center justify-between px-5 mb-8">
			<div>
				<Badge
					class="border border-[#737373] rounded-full text-[#737373] mb-4 ring-gray-300 uppercase"
					variant="outline"
					><CircleUserRound class="mr-1 w-[16px]" />Case Studies</Badge
				>
				<SectionTitle
					text="See How We've "
					primaryColorText="Made a Difference"
				/>
			</div>
		</div>

		<div class="relative overflow-x-clip">
			<div class="flex justify-center">
				<CaseStudyCarousel client:load {casestudies} />
			</div>
		</div>
	</div>
</section>
