---
import { Badge } from "$lib/components/ui/badge";
import { BASE_URL } from "$lib/consts";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
import CircleUserRound from "lucide-svelte/icons/circle-user-round";
const casestudies = await getCollection("casestudies");
import CaseStudyCarousel from "$lib/components/common/CaseStudyCarousel.svelte";
---

<section class="section py-10 md:py-40 section-bg">
  <div class="container">
    <div class="text-center flex max-w-3xl flex-col items-center md:items-start justify-center">
      <Badge variant="outline" class="py-1">
        <CircleUserRound class="mr-1" size={18} />
        <span class="text-xs font-bold md:text-sm tracking-wider font-manrope">Case Studies</span>
      </Badge>
      <SectionTitle
        class="w-4/5 lg:w-full text-left"
        text="See The Impact"
        primaryColorText="We've Made"

      />
    </div>

    <div class="relative overflow-x-clip">
    	<CaseStudyCarousel client:load {casestudies} baseUrl={BASE_URL}/>
    </div>
  </div>
</section>
