---
import { Button } from "$lib/components/ui/button";
import { BASE_URL } from "$lib/consts";
---

<section class="section1 text-center pt-[120px] pb-[140px] px-6 bg-ctaimage h-screen relative">
    <!-- Trusted Badge -->
    <div
        class="inline-flex border-t border-b border-[#fff] border-opacity-50 items-center bg-[#ffffff66] shadow-md px-5 py-[10px] rounded-full"
    >
        <p class="font-inter text-center text-sm sm:small-text max-md:whitespace-pre-wrap">Optimize Your Cloud. Cut Costs. Accelerate Performance.</p>
    </div>

    <!-- Main Heading -->
    <h1 class="main-heading-small md:main-heading my-6 mx-auto text-center w-4/5">
        Struggling with slow deployments and rising cloud costs? 
    </h1>

    <!-- Subtext -->
    <p class="mt-4 small-text md:text-para max-w-3xl mx-auto">
        Our tailored platform engineering solutions enhance efficiency, boost speed, and reduce expenses.
    </p>

    <!-- CTA Buttons -->
    <div class="mt-6 flex justify-center space-x-4">
        <Button href=`${BASE_URL}/contact` class="bg-black md:text-[16px] font-manrope">
            Book Your Free Discovery Call Today!
        </Button>
    </div>
</section>
<style>
    .bg-ctaimage {
        background-image: url("../images/herodot.svg"), url("../images/cta.svg");
        background-size: cover, cover;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        height: 100%;
    }
</style>
