---
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { Image } from "astro:assets";
import { Badge } from "$lib/components/ui/badge";
import { Button } from "$lib/components/ui/button";

import { BASE_URL } from "$lib/consts";
import platformEngImage from "$lib/images/services/plarformEng.svg";
import CircleUserRound from "lucide-svelte/icons/circle-user-round";
import hrLine from "$lib/images/hrline.svg";
import CloudUpload from "lucide-svelte/icons/cloud-upload";
---

<section class="relative py-10 md:py-40 overflow-x-hidden darker-bg">
  <div class="container relative z-10">
    <div class="grid grid-cols-1 md:gap-16 md:mb-16 relative">
      <div class="relative flex flex-col md:flex-row items-center md:gap-16">
        <div>
          <Badge
            class="border border-[#737373] rounded-full text-[#737373] mb-4 ring-gray-300 uppercase"
            variant="outline"
            ><CircleUserRound
              width="16"
              height="16"
              class="mr-1 w-[16px]"
            />Service</Badge
          >
          <SectionTitle
            class="max-md:text-left"
            text="Redefining Architecture with "
            primaryColorText="Platform Engineering"
          />
          <p
            class="mt-2 md:mt-6 max-w-2xl small-text md:text-para"
            data-aos="fade-up"
          >
            Platform Engineering as a Service bridges the gap between
            development and operations by creating scalable, cloud-native
            platforms tailored to your business needs.
          </p>
          <Button href=`${BASE_URL}/contactus` class="bg-black mt-4 md:my-12">Learn More</Button
          >
          
          <div class="hidden md:block">
            <Image src={hrLine} alt="horizontal-line" />
            <div class="flex items-center gap-4 mt-5">
              <Button href="#" class="bg-primary2 flex items-center">
                <CloudUpload class="h-6 w-6" />
              </Button>
              <p class="text-para">
                Companies have saved milllions with optimizing their cloud with
                platform engineering, you can too!
              </p>
            </div>
          </div>
        </div>

        <div
          class="max-md:py-6 flex md:justify-end md:min-w-[50%] max-md:max-h-[520px]"
        >
          <Image
            src={platformEngImage}
            alt="Platform Engineering"
            data-aos="fade-left"
            class="rounded-medium"
          />
        </div>
      </div>

      <div class="md:hidden">
        <Image src={hrLine} alt="horizontal-line" />
        <div class="flex items-center gap-4 mt-5">
          <Button href="#" class="bg-primary2 flex items-center py-6">
            <CloudUpload class="h-6 w-6" />
          </Button>
          <p class="text-para">
            Companies have saved milllions with optimizing their cloud with
            platform engineering, you can too!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
