---
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { Image } from "astro:assets";
import { Badge } from "$lib/components/ui/badge";
import { Button } from "$lib/components/ui/button";

import { BASE_URL } from "$lib/consts";
import platformEngImage from "$lib/images/services/plarformEng.svg";
import CircleUserRound from "lucide-svelte/icons/circle-user-round";
import hrLine from "$lib/images/hrline.svg";
import CloudUpload from "lucide-svelte/icons/cloud-upload";
---

<section class="relative pt-40 pb-20">
   <div class="container relative z-10">
      <div
         class="grid grid-cols-2 max-md:grid-cols-1 gap-16 mb-16 items-start relative"
      >
         <div class="relative max-md:order-2">
            <Badge
               class="border border-[#737373] rounded-full text-[#737373] mb-4 ring-gray-300 uppercase"
               variant="outline"
               ><CircleUserRound
                  width="16"
                  height="16"
                  class="mr-1 w-[16px]"
               />Service</Badge
            >
            <SectionTitle
               class=""
               text="Redefining Architecture with "
               primaryColorText="Platform Engineering"
            />
            <p
               class="my-10 max-w-2xl mx-auto max-md:text-center text-para"
               data-aos="fade-up"
            >
               Platform Engineering as a Service bridges the gap between
               development and operations by creating scalable, cloud-native
               platforms tailored to your business needs.
            </p>
            <Button href=`${BASE_URL}/contactus` class="bg-black">
               Get a Quote</Button
            >
            <div class="mt-10">
               <Image src={hrLine} alt="horizontal-line" />
               <div class="flex items-center gap-4 mt-5">
                  <Button href="#" class="bg-primary2 flex items-center py-6">
                     <CloudUpload class="h-6 w-6" />
                  </Button>
                  <p class="text-para">
                     Companies have saved milllions with optimizing their cloud
                     with platform engineering, you can too!
                  </p>
               </div>
            </div>
         </div>

         <div
            class="relative max-md:order-1 aos-init aos-animate"
            data-aos="fade-up"
            data-aos-offset="200"
            data-aos-duration="1000"
            data-aos-once="true"
         >
            <Image
               src={platformEngImage}
               alt="Platform Engineering"
               data-aos="fade-left"
               class="inline-block dark:hidden rounded-medium shadow-nav"
            />
         </div>
      </div>
   </div>
</section>
