---
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { getCollection } from "astro:content";
import { CircleUserRound } from "lucide-svelte/icons";
const testimonials = await getCollection("testimonials");
import TestimonialCarousel from "$lib/components/common/TestimonialCarousel.svelte";
---

<section class="section py-10 md:py-40 lighter-bg">
  <div class="container">
    <div
      class="text-center flex max-w-3xl flex-col items-center md:items-start justify-center"
    >
    <Badge variant="outline" class="py-1">
      <CircleUserRound class="mr-1" size={18} />
      <span class="text-xs font-bold md:text-sm tracking-wider font-manrope"
        >Testimonials</span
      >
    </Badge>
      <SectionTitle
        text="What Our"
        primaryColorText="Clients Say"
        class="max-md:text-center"
      />
    </div>

    <div class="relative overflow-x-clip">
      <div class="flex justify-center">
        <TestimonialCarousel client:load {testimonials} />
      </div>
    </div>
  </div>
</section>
