---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "$lib/layouts/Layout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const services = await getCollection("services");
  return services.map((service) => ({
    params: { slug: service.id },
    props: service,
  }));
}
type Props = CollectionEntry<"services">;

const service = Astro.props;
const { Content } = await render(service);
const d = await render(service)

// Meta title and description
const seoContents = await getCollection('seocontent');
const [{title, description}] = (seoContents[0].data).filter((content) => content.slug == service.data.slug)

---

<Layout title={title} description={description}>
  <main class="main-content z-10">
    <Content />
  </main>
</Layout>
