<section id="counter_trusted" class="relative z-10">
    <div class="container relative">
        <div
        class="mx-auto rounded-md bg-white p-2 shadow-nav "
    >
      <div class="grid grid-cols-12 py-10 gap-x-5 gap-y-5 relative rounded-md border border-dashed border-gray bg-white">
        <div class="max-lg:col-span-full lg:col-span-6">
          <div class="max-w-[650px] px-10">
            <p class="font-medium max-md:text-xs leading-snug mb-3 uppercase">
                NUMBERS
            </p>

            <h2
                class="text-4xl max-md:text-base font-bold"
                data-aos="fade-up"
            >
                More than 10 years experience <br />in this industry
            </h2>
          </div>
        </div>
        <div class="max-md:col-span-full md:col-span-6 lg:col-span-3  max-md:px-10">
          <div class="flex items-center">
            <div class="p-2.5 shadow-nav rounded-full w-[110px] h-[110px] bg-white dark:bg-dark-200 mr-6">
              <div class=" flex items-center justify-center border border-dashed rounded-full w-[90px] h-[90px] border-gray-100 dark:border-borderColour-dark">
                <h3 class="text-primary dark:text-primary leading-none text-[28px] max-md:text-[20px]" style="animation: 0.3s ease 1.5s 1 normal forwards running slide-up;">
                    <span
                    class="text-primary dark:text-primary leading-none text-[28px] max-md:text-[20px] counterTrusted"
                    ><span
                        class="animate-[counter_3s_ease-out_forwards] tabular-nums [counter-set:_num_var(--num-assets)] before:content-[counter(num)]"
                    >
                        <span class="sr-only">88</span>%
                    </span></span
                >
                </h3>
              </div>
            </div>
            <h3 class="leading-8   max-md:text-base ">
                Yearly<br>
                Customer Rate
            </h3>
          </div>
        </div>
        <div class="max-md:col-span-full md:col-span-6 lg:col-span-3  max-md:px-10">
          <div class="flex items-center">
            <div class="p-2.5 shadow-nav rounded-full w-[110px] h-[110px] bg-white dark:bg-dark-200 mr-6">
              <div class=" flex items-center justify-center border border-dashed rounded-full w-[90px] h-[90px] border-gray-200 dark:border-borderColour-dark">
                <h3 class="text-primary dark:text-primary leading-none text-[28px] max-md:text-[20px]">
                    <span
                    class="text-primary dark:text-primary leading-none text-[28px] max-md:text-[20px] counterTrusted"
                >
                    <span
                        class="animate-[counter_3s_ease-out_forwards] tabular-nums [counter-set:_num_var(--num-transactions)] before:content-[counter(num)]"
                    >
                        <span class="sr-only">150</span
                        >+
                    </span>
                </span>
                </h3>
              </div>
            </div>
            <h3 class="leading-8  max-md:text-base">
                Node Under<br>
                Management
            </h3>
          </div>
        </div>
      </div>
      </div>

    </div>
  </section>
