---
import { Badge } from "$lib/components/ui/badge";
import Hospital from "lucide-svelte/icons/hospital";
import CircleFadingArrowUp from "lucide-svelte/icons/circle-fading-arrow-up";
import Cpu from "lucide-svelte/icons/cpu";
import HandPlatter from "lucide-svelte/icons/hand-platter";
import Building2 from "lucide-svelte/icons/building-2";

import SectionTitle from "$lib/components/common/SectionTitle.svelte";

const features = [
	{
		icon: Hospital,
		title: "Healthcare",
		description:
			"Every business is different, and technology is just means.",
	},
	{
		icon: CircleFadingArrowUp,
		title: "IOT",
		description:
			"Every business is different, and technology is just means.",
	},
	{
		icon: Cpu,
		title: "Fintech",
		description:
			"Utilizing automation early on has a compounding effect.",
	},
	{
		icon: HandPlatter,
		title: "Saas",
		description:
			"Every business is different, and technology is just means.",
	},
	{
		icon: Building2,
		title: "Enterprises",
		description:
			"Every business is different, and technology is just means.",
	},
];


---

<section class="pb-40 section">
	<div class="container">

		<div class="mb-12 text-center  mx-auto flex max-w-3xl flex-col items-center justify-center">
			<Badge
			class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
			variant="outline">Scope Of Work</Badge
		>
			<SectionTitle text="Industries We Serve" />
			<p class="mb-10 text-xl max-md:text-center" data-aos="fade-up">
				Setting up and maintaining infrastructure to handle scale, reliability, cost-effectively.
			</p>

		</div>
		<div
			class="flex flex-wrap features-grid text-center justify-center gap-4 p-4"
		>
		<div
    class="bg-gradient-radial  left-1/3 absolute right-0  -z-10 h-96 w-1/3 blur-2xl"
  >
  </div>
  <div
    class="bg-gradient-radial absolute left-1/3  -z-10 h-96 w-1/3 blur-2xl"
  ></div>
			{
				features.map((feature, index) => (
					<>
						<div
							class="w-full sm:w-1/4 md:w-1/4 lg:w-1/4 px-12 py-12 feature-card"

						>
							<div class="flex text-center justify-center text-4xl mb-4">

								<div
							class="icon-container flex h-16 w-16 items-center text-center justify-center rounded-full bg-white shadow-lg"
						>
							<feature.icon class="text-primary h-6  w-6 shrink-0 transition-transform duration-200"
							/>


								{/* <div class="flex text-center justify-center text-4xl mb-4 transition-transform "><feature.icon class='text-primary h-[50px] w-[50px]  shrink-0 transition-transform duration-200' /> */}
</div>

							</div>
							<h3 class="text-lg font-semibold text-gray-800 mb-2">
								{feature.title}
							</h3>
							<p class="text-gray-600">{feature.description}</p>
						</div>

						{/* Insert Separator after every 3 cards */}
						{(index + 1) % 3 === 0 &&
							index !== features.length - 1 && (
								<div class="w-full bg-no-repeat bg-center bg-contain separator" />


							)}
					</>
				))
			}
		</div>
	</div>
</section>

<style>
	.feature-card {
		position: relative; /* Allows positioning of the pseudo-element */
	}

	.feature-card::before {
		content: "";
		position: absolute;
		width: 1px; /* Adjust width for the border */
		height: 100%;
		top: 50%;
		left: 0; /* Left border for all cards */
		transform: translateY(-50%);
		background-image: url("../images/coreborder-right.svg"); /* Use your border image */
		background-size: cover; /* Ensure the image covers the area */
	}
	.feature-card:last-child::after,.feature-card:nth-child(5)::after {
		content: "";
		position: absolute;
		width: 1px; /* Adjust width for the border */
		height: 100%;
		top: 50%;
		right: 0; /* Right border for the last card */
		transform: translateY(-50%);
		background-image: url("../images/coreborder-right.svg"); /* Use your border image */
		background-size: cover; /* Ensure the image covers the area */
	}
	@media not all and (min-width: 768px) {
		.feature-card:last-child::after,.feature-card:nth-child(5)::after {
			content:none;
    }
	.separator[data-astro-cid-wekxhxui] {
		display: none;
}
}
	.separator {
		background-image: url("../images/seperator.png");
		height: 5px;
	}
</style>
