---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { render } from "astro:content";
import CTASection from "$lib/components/CTASection.astro";
import { CircleUserRound, CalendarDays } from "lucide-svelte";
import ShareDropdown from "$lib/components/common/ShareDropdown.svelte";

export async function getStaticPaths() {
    const services = await getCollection("services");
    return services.map((service) => ({
        params: { slug: service.id },
        props: service,
    }));
}
type Props = CollectionEntry<"services">;

const service = Astro.props;
const { Content } = await render(service);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content">
        <section class="pt-32 pb-10 section">
            <div class="container">
                <div class="relative text-center mb-10 max-w-[948px] mx-auto aos-init aos-animate">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Service</Badge
                    >
                    <SectionTitle class="" text={service.data.title} />
                    <p class="my-4 text-lg text-gray-500">
                        {service.data.description}
                    </p>

                </div>
            </div>
        </section>
        <Content />
    </main>
</Layout>
