---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import { Badge } from "$lib/components/ui/badge";
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { render } from "astro:content";
import CTASection from "$lib/components/CTASection.astro";
import { CircleUserRound, CalendarDays } from "lucide-svelte";
import ShareDropdown from "$lib/components/common/ShareDropdown.svelte";

export async function getStaticPaths() {
    const blogs = await getCollection("blogs");
    return blogs.map((blog) => ({
        params: { slug: blog.id },
        props: blog,
    }));
}
type Props = CollectionEntry<"blogs">;

const blog = Astro.props;
const { Content } = await render(blog);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main class="main-content">
        <section class="pt-32 pb-10 section">
            <div class="container">
                <div class="relative text-left">
                    <Badge
                        class="border border-primary-300 ring-2 mb-4 ring-opacity-20 ring-primary-500 ring-primary"
                        variant="outline">Blog</Badge
                    >
                    <SectionTitle class="" text={blog.data.title} />
                    <p class="my-4 text-lg text-gray-500">
                        {blog.data.description}
                    </p>
                </div>

                <div class="border-t border-b border-dashed">
                    <div
                        class="relative py-5 flex justify-between items-center"
                    >
                        <div class="flex gap-x-2 items-center">
                            <p class="flex items-center text-gray-600">
                                <CircleUserRound class="w-6 h-6 pr-1" />By {
                                    blog.data.author
                                }
                            </p>
                            <span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="5"
                                    height="6"
                                    viewBox="0 0 5 6"
                                    fill="none"
                                >
                                    <circle
                                        cx="2.5"
                                        cy="3"
                                        r="2.5"
                                        fill=""
                                        class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                                    ></circle>
                                </svg>
                            </span>
                            <p class="flex items-center text-gray-600">
                                <CalendarDays class="w-6 h-6 pr-1" />{
                                    blog.data.publishDate.toDateString()
                                }
                            </p>
                        </div>
                        <div>
                            <ShareDropdown client:load />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <Content />

        <section class="pb-10">
            <div class="container border-t border-b border-dashed">
                <div class="relative py-10 flex justify-between items-center">
                     
                    <div>
                        <ShareDropdown client:load />
                    </div>
                </div>
            </div>
        </section>
        <CTASection />
    </main>
</Layout>
