---
import Layout from "$lib/layouts/Layout.astro";
import HeroSection from "$lib/components/HeroSection.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import PlatformEngServiceSection from "$lib/components/PlatformEngServiceSection.astro";
import ServiceSection from "$lib/components/ServiceSection.astro";
import AboutusSection from "$lib/components/AboutusSection.astro";
import CTASection from "$lib/components/CTASection.astro";
import TestimonialsSection from "$lib/components/TestimonialsSection.astro";
import CaseStudiesSection from "$lib/components/CaseStudiesSection.astro";
import TechResultSection from "$lib/components/TechResultSection.astro";
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main class="main-content">
		<HeroSection />
		<PlatformEngServiceSection />
		<ServiceSection />
		<AboutusSection />
		<TestimonialsSection />
		<TechResultSection />
		<CaseStudiesSection />
		<CTASection />
	</main>
</Layout>
