---
import Layout from "$lib/layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$lib/consts";
import backImage from "$lib/images/blogs/back.svg";
import bg2Image from "$lib/images/blogs/bg2.svg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <div class="main-content">
        <section
            class="section1 text-center py-16 px-6 bg-image relative pt-[30%] md:pb-20 lg:pt-[12%]"
            style={`background-image: url(${backImage.src}), url(${bg2Image.src})`}
        >
            <!-- Main Heading -->
            <div class="container">
                <h1
                    class="font-manrope mt-4 mb-6 max-md:text-center text-[56px] max-md:text-[30px] leading-[62px] max-md:leading-[42px] font-bold lg:tracking-tight"
                >
                    Terms Of <span class="text-primary">Service</span>
                </h1>
                <!-- Subtext -->
                <p class="mt-4 text-para max-w-2xl mx-auto">
                    Understand your rights, responsibilities, and usage policies
                    for our services.
                </p>
            </div>
        </section>
        <section class="py-20 md:py-20 section">
            <div class="container mx-auto flex gap-5 max-md:gap-2">
                <!-- Sidebar Navigation -->
                <aside class="w-1/3 h-fit sticky top-48 max-md:top-32">
                    <ul class="space-y-5 max-md:space-y-3">
                        <li class="nav-item active">
                            <a
                                href="#info"
                                class="scroll-link font-manrope color-[#424242] text-[22px] max-md:text-[16px] font-bold leading-[28px] tracking-tight"
                                >Information We Collect</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="#usage"
                                class="scroll-link font-manrope color-[#424242] text-[22px] max-md:text-[16px] font-bold leading-[28px] tracking-tight"
                                >How We Use the Information</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="#sharing"
                                class="scroll-link font-manrope color-[#424242] text-[22px] max-md:text-[16px] font-bold leading-[28px] tracking-tight"
                                >Information Sharing</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="#retention"
                                class="scroll-link font-manrope color-[#424242] text-[22px] max-md:text-[16px] font-bold leading-[28px] tracking-tight"
                                >Retention of Data</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="#security"
                                class="scroll-link font-manrope color-[#424242] text-[22px] max-md:text-[16px] font-bold leading-[28px] tracking-tight"
                                >Security of Data</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                href="#user-rights-and-data-protection"
                                class="scroll-link font-manrope color-[#424242] text-[22px] max-md:text-[16px] font-bold leading-[28px] tracking-tight"
                                >User Rights and Data Protection</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                href="#other-important-information"
                                class="scroll-link font-manrope color-[#424242] text-[22px] max-md:text-[16px] font-bold leading-[28px] tracking-tight"
                                >Other Important Information</a
                            >
                        </li>
                    </ul>
                </aside>

                <main
                    id="main"
                    class="w-3/4 border-l-4 pr-4 pl-20 max-md:pl-10 border-[#D6D6D6] overflow-y-auto scroll-smooth"
                >
                    <section
                        id="info"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6]"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                            Information We Collect
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                            Improwised Technologies Pvt. Ltd. collects various
                            types of data when you interact with our service.
                            This includes Personal Data, which can identify you
                            personally, such as your name, email address, phone
                            number, physical address, and cookies or usage data.
                            We may use this personal data to send you
                            newsletters, marketing materials, or promotional
                            content, although you can opt out of these
                            communications at any time. Additionally, we collect
                            Usage Data, which is automatically generated by your
                            interaction with our service or from the
                            infrastructure itself. This includes details such as
                            your IP address, browser type, pages you visit, and
                            the duration of your visit. We also use Cookies and
                            other tracking technologies to improve and analyse
                            your experience on our platform, with different
                            types of cookies used for session management, user
                            preferences, security, and targeted advertising.
                        </p>
                    </section>

                    <section
                        id="usage"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6]"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                            How We Use the Information
                        </h2>
                        <p class="text-gray-600 mt-2">
                            The data we collect is used for several key
                            purposes. We use it to provide and maintain our
                            service, including notifying you of any changes to
                            the service. We may allow you to participate in
                            interactive features of the service when you choose
                            to do so. Your data helps us provide customer
                            support, analyze how our service is used, and detect
                            and prevent any technical issues. We may also use
                            your data to carry out our legal obligations,
                            including billing and collection. In addition, we
                            may use your personal information to send you news,
                            special offers, or general information about other
                            services or events that may be of interest to you
                            unless you opt out.
                        </p>
                    </section>

                    <section
                        id="sharing"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6]"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                            Information Sharing
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                            We may disclose the personal information we collect
                            under certain circumstances. For law enforcement
                            purposes, we may be required to disclose your
                            personal data in response to legal requests or valid
                            public authority demands. In the event of a business
                            transaction such as a merger, acquisition, or asset
                            sale, your data may be transferred. Additionally, we
                            may share data with our subsidiaries, contractors,
                            and service providers who assist us in delivering
                            our services. We also may disclose information to
                            fulfill the purpose for which it was provided, such
                            as displaying your company's logo on our website.
                            Any other disclosures will be made with your
                            consent, or where necessary to protect the rights,
                            property, or safety of the company or others
                        </p>
                    </section>

                    <section
                        id="retention"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6]"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                            Retention of Data
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                            We retain personal data only as long as necessary to
                            fulfill the purposes described in this privacy
                            policy. Usage data is typically kept for shorter
                            periods, but it may be retained for longer if
                            necessary for security reasons or to improve service
                            functionality. We retain data to comply with our
                            legal obligations, resolve disputes, and enforce
                            agreements. Personal data may be kept for a longer
                            period if required by law or for other business
                            purposes.
                        </p>
                    </section>

                    <section
                        id="security"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6]"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                            Security of Data
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                            The data we collect, including personal data, may be
                            transferred to computers located outside your
                            region, such as in India. By using our service, you
                            consent to the transfer and processing of your data
                            in locations with varying data protection laws. We
                            take all reasonable steps to ensure your data is
                            treated securely and in line with this privacy
                            policy, with appropriate safeguards in place to
                            protect your information.
                        </p>
                    </section>
                    <section
                        id="user-rights-and-data-protection"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6]"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                            User Rights and Data Protection
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                            The data we collect, including personal data, may be
                            transferred to computers located outside your
                            region, such as in India. By using our service, you
                            consent to the transfer and processing of your data
                            in locations with varying data protection laws. We
                            take all reasonable steps to ensure your data is
                            treated securely and in line with this privacy
                            policy, with appropriate safeguards in place to
                            protect your information.
                        </p>
                    </section>
                    <section id="other-important-information" class="mb-8 pb-8">
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                            Other Important Information
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                            The data we collect, including personal data, may be
                            transferred to computers located outside your
                            region, such as in India. By using our service, you
                            consent to the transfer and processing of your data
                            in locations with varying data protection laws. We
                            take all reasonable steps to ensure your data is
                            treated securely and in line with this privacy
                            policy, with appropriate safeguards in place to
                            protect your information.
                        </p>
                    </section>
                </main>
            </div>
        </section>
    </div>
</Layout>

<style>
    .bg-image {
        background-size: cover, contain;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
    }
    .nav-item {
        position: relative;
        padding-left: 15px;
        transition: all 0.3s ease-in-out;
        border-left: 2px solid transparent; /* Blue border */
    }

    .nav-item.active {
        border-left: 2px solid #141414; /* Blue border */
        padding-left: 20px;
    }
</style>
<script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll(".scroll-link");
        const mainContainer = document.getElementById("main");

        links.forEach((link) => {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                // Remove active class from all links
                links.forEach((l) =>
                    l.parentElement.classList.remove("active"),
                );

                // Add active class to the clicked link's parent <li>
                this.parentElement.classList.add("active");

                const targetId = this.getAttribute("href").substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    const offset = 200; // Adjust based on header height
                    const elementPosition =
                        targetElement.getBoundingClientRect().top +
                        window.scrollY;
                    window.scrollTo({
                        top: elementPosition - offset,
                        behavior: "smooth",
                    });
                }
            });
        });
    });
</script>
