---
import Layout from "$lib/layouts/Layout.astro";
import backImage from "$lib/images/blogs/back.svg";
import bg2Image from "$lib/images/blogs/bg2.svg";
import { getCollection } from "astro:content";
import Sidebar from "$lib/components/Sidebar.astro";

// Meta title and description
const seoContents = await getCollection('seocontent');
const [{title, description}] = (seoContents[0].data).filter((content) => content.slug == "terms-of-use")
---

<Layout title={title} description={description}>
    <div class="main-content">
        <section id="section1"
            class="text-center py-16 px-6 bg-image relative pt-[30%] md:pb-20 lg:pt-[12%]"
            style={`background-image: url(${backImage.src}), url(${bg2Image.src})`}
        >
            <!-- Main Heading -->
            <div class="container">
                <h1
                    class="font-manrope mt-4 mb-6 max-md:text-center text-[56px] max-md:text-[30px] leading-[62px] max-md:leading-[42px] font-bold lg:tracking-tight"
                >
                    Terms Of <span class="text-primary">Service</span>
                </h1>
                <!-- Subtext -->
                <p class="mt-4 text-para max-w-2xl mx-auto">
                    Welcome to improwised.com. These Terms and Conditions ("Terms") govern your use of our website and services.
                </p>
            </div>
        </section>
        <section class="py-20 md:py-20 section">
            <div class="container grid grid-cols-1 lg:grid-cols-[400px_1fr] gap-6">
                <!-- Sidebar Navigation -->
                <Sidebar insideMdx="inside" />
                
                <main
                    id="main"
                    class="border-[#D6D6D6]"
                >
                    <section
                        id="Introduction"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                        Introduction
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                        Improwised.com ("we," "us," or "our") provides service solutions to businesses. Our website is intended to offer information about our services, facilitate communication with potential clients, and provide a platform for clients to engage with us.


                        </p>
                    </section>

                    <section
                        id="Use of the Website"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                        Use of the Website
                        </h2>

                        <ul class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc ml-5">
                            <li><strong>Eligibility:</strong> By using our website, you represent and warrant that you are at least 18 years old and have the legal capacity to enter into these Terms.</li>
                            <li><strong>Access:</strong> We grant you a limited, non-exclusive, non-transferable, and revocable license to access and use our website for informational purposes only.</li>
                            <li><strong>Prohibited Activities:</strong> You agree not to:
                              <ul class="list-disc">
                                <li class="ml-4">Use the website for any unlawful purpose.</li>
                                <li class="ml-4">Interfere with or disrupt the website or servers.</li>
                                <li class="ml-4">Attempt to gain unauthorized access to any part of the website.</li>
                              </ul>
                            </li>
                          </ul>

                    </section>

                    <section
                        id="Services"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                        Services
                        </h2>

                        <ul class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc ml-5">
                            <li><strong>Service Description:</strong> We provide service solutions, which are described in detail on our website.</li>
                            <li><strong>No Sales:</strong> We do not sell products directly from our website. All service agreements and transactions are conducted offline or through direct communication.</li>
                            <li><strong>Service Terms:</strong> Specific terms for each service will be outlined in separate agreements or contracts provided at the time of engagement.</li>
                          </ul>


                    </section>

                    <section
                        id="Intellectual Property"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                        Intellectual Property
                        </h2>
                        <ul class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc ml-5">
                            <li><strong>Ownership:</strong> All content on the website, including text, graphics, logos, and images, is our property or the property of our licensors and is protected by intellectual property laws.</li>
                            <li><strong>Limited License:</strong> You may view, download, and print content from the website for your personal, non-commercial use only. Any other use requires our prior written consent.</li>
                          </ul>

                    </section>

                    <section
                        id="Data Privacy"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                        Data Privacy
                        </h2>
                        <ul class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc ml-5">
                            <li><strong>Collection and Use:</strong> We collect and use personal information in accordance with our Privacy Policy. By using our website, you consent to such collection and use.</li>
                            <li><strong>Third-Party Services:</strong> We may use third-party services to enhance our website. These services may have their own terms and privacy policies.</li>
                          </ul>
                    </section>
                    <section
                        id="Disclaimers and Limitation of Liability"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                        Disclaimers and Limitation of Liability
                        </h2>
                        <ul class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc ml-5">
                            <li><strong>No Warranties:</strong> Our website and services are provided "as is" without any warranties, express or implied. We do not warrant that the website will be uninterrupted, error-free, or secure.</li>
                            <li><strong>Limitation of Liability:</strong> To the maximum extent permitted by law, we are not liable for any indirect, incidental, special, consequential, or punitive damages arising out of your use of the website or services.</li>
                          </ul>
                    </section>

                    <section id="other-important-information" class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28">
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >Indemnification
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                        You agree to indemnify, defend, and hold harmless Improwised.com, its officers, directors, employees, and agents from any claims, liabilities, damages, losses, and expenses, including legal fees, arising out of your use of the website or violation of these Terms.
                        </p>
                    </section>
                    <section
                        id="Governing Law and Dispute Resolution"
                        class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                    >
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >
                        Governing Law and Dispute Resolution
                        </h2>
                        <ul class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc ml-5">
                            <li><strong>Governing Law:</strong> These Terms are governed by and construed in accordance with the laws of India.</li>
                            <li><strong>Dispute Resolution:</strong> Any disputes arising out of or in connection with these Terms shall be resolved through arbitration in Rajkot, India, in accordance with the rules of the Indian Arbitration and Conciliation Act, 1996.</li>
                          </ul>

                    </section>
                    <section id="Changes to These Terms" class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28">
                        <h2
                            class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                        >Changes to These Terms
                        </h2>
                        <p
                            class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2"
                        >
                        We may update these Terms from time to time. Any changes will be posted on this page, and the "Last updated" date will be revised. Your continued use of the website after such changes constitutes your acceptance of the new Terms.
                        </p>
                    </section>

                    <section
                    id="Contact Us"
                    class="mb-8 border-b-2 pb-8 border-[#D6D6D6] scroll-mt-[8rem] lg:scroll-mt-28"
                >
                    <h2
                        class="font-manrope text-[22px] max-md:text-[20px] leading-[28px] tracking-tight color-[#141414]"
                    >
                    Contact Us
                    </h2>
                    <p class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc">
                        If you have any questions or concerns about these Terms, please contact us at:
                    </p>
                    <ul class="text-[16px] leading-[30px] tracking-tight color-[#292929] mt-2 list-disc ml-5">

                        <li><strong>Email:</strong> <a href="mailto:admin@improwised.com" class="text-blue-500 hover:underline">admin@improwised.com</a></li>
                        <li><strong>Address:</strong> 304 - Pride Square, Pushkardham Main Road, Nr. J. K. Chowk, Rajkot - 360005, Gujarat, India.</li>
                      </ul>

                </section>
                </main>
            </div>
        </section>
    </div>
</Layout>

<style>
    .bg-image {
        background-size: cover, contain;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
    }
    .nav-item {
        position: relative;
        padding-left: 15px;
        transition: all 0.3s ease-in-out;
        border-left: 2px solid transparent; /* Blue border */
    }

    .nav-item.active {
        border-left: 2px solid #141414; /* Blue border */
        padding-left: 20px;
    }
</style>
<script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll(".scroll-link");
        const mainContainer = document.getElementById("main");

        links.forEach((link) => {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                // Remove active class from all links
                links.forEach((l) =>
                    l.parentElement.classList.remove("active"),
                );

                // Add active class to the clicked link's parent <li>
                this.parentElement.classList.add("active");

                const targetId = this.getAttribute("href").substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    const offset = 200; // Adjust based on header height
                    const elementPosition =
                        targetElement.getBoundingClientRect().top +
                        window.scrollY;
                    window.scrollTo({
                        top: elementPosition - offset,
                        behavior: "smooth",
                    });
                }
            });
        });
    });
</script>
