---
import "$lib/styles/global.css";
import BaseHead from "$lib/components/BaseHead.astro";
import Header from "$lib/components/Header.astro";
import Footer from "$lib/components/Footer.astro";
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script src="../scripts/custom.js"></script>
	</body>
</html>
